<div class="post-container">
    <% @users.each do |user|%>
    <div class="post-index-item card">
        <div class="card-body">
        <h5 class="card-title">
            <%= link_to(user.name, "/users/#{user.id}") %>
        </h5>
        </div>
    </div>
    <%end%>
</div>
