<div class="post-form alert alert-dark text-center">
    <h3 class="heading-message mb-4">ログイン</h3>
    <%= form_tag("/login") do %>
    <div class="form-body">
        <div class="form-item">
            <p>メールアドレス</p>
            <input name="email" value="<%= @email %>">
        </div>
        <div class="form-item">
            <p>パスワード</p>
            <input name="password" type="password" value="<%= @password %>">
        </div>
        <div>
            <input type="submit" value="ログインする">
        </div>
    </div>  
    <% end %>
</div>