<div class="post-form alert alert-dark text-center">
    <h3 class="heading-message mb-4">ユーザー登録</h3>
    <%= form_tag("/users/create", {multipart: true}) do %>
    <div class="form-body">
      <div class="form-item">
        <p>ユーザー名</p>
        <input name="name">
      </div>
      <div class="form-item">
        <p>メールアドレス</p>
        <input name="email">
      </div>
      <div class="form-item">
        <p>パスワード</p>
        <input name="password" type="password">
      </div>
      <div class="form-item">
        <p>ユーザーアイコン</p>
        <input name="image", type="file">
      </div>
      <div>
        <input type="submit" value="登録">
      </div>
    </div>  
    <% end %>
</div>