<div class="home-container">
    <div class="home-top-content text-center centering">
    <h1>ArcPostとは</h1>
    <p class="home-info">ArcPostは建築好きのためのSNSです。
    <br>
    素敵な建築写真を共有しましょう！
    <br>
    コメントや場所の情報、いいねも残せます。</p>
    </div>
</div>
