<div class="home-container">
    <div class="home-top-content text-center">
        <h1>ArcPost</h1>
        <p>建築好きが集まるSNS</p>
        <div class="btn-container">
        <a class="btn btn-primary" href="/posts/index">タイムラインをのぞく</a>
        </div>
        <div class="btn-container mt-4 mb-4">
        <a class="btn btn-primary" href="/users/create">ユーザー登録</a>
        </div>
        <div class="btn-container mt-4 mb-4">
        <a class="btn btn-primary" href="/login">ログイン（登録済みの方）</a>
        </div>
        
    </div>
</div>

