<div class="post-form alert alert-dark text-center">
        <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class="form-body">
            <div class="form-item">
              <p>コメント</p>
              <textarea name="content"><%= @post.content %></textarea>
            </div>
            <div class="form-item">
              <p>スポット名・住所</p>
              <input name="address" value="<%= @post.address %>">
            </div>
            <div class="form-item">
              <input type="submit" value="編集">
            </div>
        </div>  
        <% end %>
</div>