<div class="post-form alert alert-dark text-center">
        <h3 class="heading-message mb-4">お気に入りのスポットの写真を投稿しよう!!</h3>
        <%= form_tag("/posts/create", {multipart: true}) do %>
        <div class="form-body">
            <div class="form-item">
              <p>投稿する画像を選択してください</p>
              <input name="image", type="file">
            </div>
            <div class="form-item">
              <p>コメント</p>
              <textarea name="content"></textarea>
            </div>
            <div class="form-item">
              <p>スポット名・住所</p>
              <input name="address">
            </div>
            <div class="form-item">
              <input type="submit" value="シェア">
            </div>
        </div>  
        <% end %>
</div>
