// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-container{
    min-height: 600px;
    background-image: url('top.jpg');
    width: 100%;
    background-size: cover;
   
   
}
.home-top-content{
    color: white;
    opacity: 90%;
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}
.home-top-content h1{
    font-size: 4rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-family: sans-serif;
}

.home-top-content p{
    font-size: 1.4rem;
    margin: 40px auto 40px auto;
}
.home-info{
    p{line-height: 20px;}
    background-color: #73777a83;
    padding: 10px 20px;
    border-radius: 5%;
}

