// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-container{
    background-image: url('top.jpg');
    width: 100%;
    background-size:cover;
}
.home-top-content{
    width: 100%;
    color: white;
    opacity: 90%;
    padding: 100px;
}
h1{
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-family: sans-serif;
}