// // bootstrap px setup
// es: -544px
// sm: 544px-768px
// md: 768px-992px
// lg: 992px-1200px
// el: 1200px-

body{
    padding-top: 55px;
    font-family: sans-serif;
}
.post-container{
    background-color: #d6d8d9;
}
.color-set{
    background-color: rgba(60, 64, 65, 0.082);
}
.current-user-item{
    color: white!important;
}
.user-icon{
    height:50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.user-icon-lg{
    height:100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.no-link{
    color: #333333;
}

.notice{
    margin-bottom: 0!important;
}

.f-container{
    display: flex;
    align-items: flex-end;
}
.f-container-center{
    display: flex;
    justify-content: center;
}
.no-dot{
    list-style: none;
}
.flash{
    padding-top: 15px!important;
    margin-bottom: 0!important;
}

